.MuiTypography-h6{
  font-family:"Poppins" !important;
  color:red;
}
.logo{
  font-family:"Brush Script MT" !important;
  font-size:35px !important;
}
.title{
  font-family:"Trebuchet MS" !important;
}
.link{
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
  &:hover{
    transition-duration: 0.5s;
    color:rgb(250, 237, 255)
  }
}